<script>
  $(function() {
    // Create a new client to connect to Faye
    var client = new Faye.Client('http://localhost:9292/faye');
    //
    //          // Handle form submissions and post messages to faye
    $('#new_message_form').submit(function(){
      // Publish the message to the public channel
      client.publish('/messages/public', {
        username: '<%= session[:username] %>',
        msg: $('#message').val()
      });

      // Clear the message box
      $('#message').val('');

      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });

    // Subscribe to the public channel
    var public_subscription = client.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });
    //                    // Handle form submission to publish messages.
    $('#new_message_form').submit(function(){
      //                              // ...
      //                                    // Leave this part as it is
      //                                          // ...
    });
  });
</script>
